<div class="mt0 mb3 pa3 near-white bg-dark-blue">
  <img height="50px" align="top" src="http://localhost:3000/img/trader-hut-logo.png">
  <a class="link near-white f2" routerLink="/">{{title}}</a>
  <span class="fr">
    <button class="fr ba br3 bg-lightest-blue" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
    <button class="fr ba br3 bg-lightest-blue" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
  </span>
</div>
<router-outlet></router-outlet>
